#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h4 {
  color: grey;
}
form .clear-button {
  background-color: black;
  color: white;
  margin-right: 1.5em;
}
form input {
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  border: 2px black solid;
}